aside {
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: ;
    flex-wrap: ;
    width: 200px;
    height: 1000px;
}

#avatar {
    display: flex;
    justify-self: ;
    align-items: ;
    width: 190px;
    height: auto;
}
#logo {
    display: flex;
    flex-direction: ;
    padding:30px;
    justify-content:;
    align-items: ;
    width: 100px;
    height: ;
}

a {
    text-decoration: none;
    display: flex;
    flex-direction:;
    align-self: flex-start;
    justify-content: ;
}

#avatar {
    background-color: coral;
    display: flex;
    flex-direction: column;
    height:;
    align-items: flex-end;
    justify-content: flex-end;
}

ul {
    flex: ;
    list-style: none;
}

li {
   padding: 10px;
}