.expandable::after {
    content: "after";
    color: #ff8888;
}
.expandable:active {
    content: "before";
    color: #88ff88;
}

button:active{
    .bb {
        display: table;
    }
    
}

.bb{
    display: none;
}

.bb:hover {
    display: block;
}